.container {
    display: flex;
    justify-content: center;
}

body {

    font-family: 'Poppins', sans-serif;

}

.players {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.player img {
    width: 330px;
    overflow: visible;

}

.player {
    width: 330px;
    height: 474px;
    border: 1px solid goldenrod;
    padding: 16px;
    overflow: hidden;
}

.details {
    color: #6C6C6C;
    font-size: 16px;

}

.player:hover img {
    transform: scale(1.2);
    transition: transform 2s;
}